<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="dao.TestDao">
    <select id="countAll" resultType="int">
        select count(*) c from table_test;
    </select>    
    <select id="selectAll" resultType="models.Test">
        select * from table_test order by id asc
    </select>    
    <select id="first" resultType="models.Test">
        select * from table_test order by id asc limit 1
    </select>       
</mapper>